@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-primario:#652BDF;
    --color-secunadrio:#E2D2FF;
    --fuente-primaria:font-family: "Inter", sans-serif;
}
body{
    width: 2000px;
    height: 2000px;

}
.header-principal{
    border-bottom: 1px solid #e7eaed;
    top: 0;
    z-index: 1001;
    position: sticky;
    height: 83px; ;
    width: 100%;
}
.menu-navegacion{
display: flex;
align-items: center;
justify-content: space-between;
min-height: 82px;
padding: 16px;
width: 100%;
background: white;
max-width: 1022px;
margin: 0 auto;
}
.logo{
    margin: 0 20px 0;
    max-height: 37px;
    min-width: 140px;
    box-sizing: border-box;
}
.header-menu{
    display: flex;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.estilo-btn{
    align-items: center;
    border-radius: 50px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    line-height: 1.5rem;
    margin: 0 4px;
    min-height: 41px;
    padding: 6px 24px;
    box-sizing: border-box;
    font-family: var(--fuente-primaria);
    color: #2b2b2b;
}
.header-menu_texto:hover{
    background-color: #e4d7ff;
    color: #360c72;
    cursor: pointer;
}
.header-boton{
    font-family: var(--fuente-primaria);
    gap: 2px;
    justify-content: end;
    margin-left: auto;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    display: flex;
}
.boton{
    font-family: var(--fuente-primaria);
    box-sizing: border-box;
    cursor: pointer;
    font-style: normal;
    letter-spacing: .2857em;
    min-width: 160px;
    outline: 0;
    position: relative;
    text-decoration: none;
    transition: all .4s ease-in-out 0s;
    max-width: 1022px;
margin: 0 auto;
}
.boton-primario{
    background-color: transparent;
    border:1px solid var(--color-primario);
    color: var(--color-primario);

}
.boton-secundario{
    background-color: var(--color-primario);
    border: 1px solid transparent;
    color: #fff;
}
.boton-primario:hover{
    border: 1px solid;
    cursor: pointer;
    background-color: var(--color-secunadrio);

}
.boton-secundario:hover{
    border: 1px solid;
    cursor: pointer;
    background-color: var(--color-secunadrio);
    color: var(--color-primario);
}

@media screen and (max-widith: 900px){

.header-principal{
width: 60px; /* Solo queda el espacio para el logo o icono */
    border-bottom-right-radius: 20px;
    box-shadow: 5px 0 15px rgba(0,0,0,0.3);
}

}